@import './color.scss';

$s-border--thin-width: 1px;

$s-border--thin-secondary: 1px solid $s-color--secondary;
$s-border--thin-transparent: 1px solid transparent;
$s-border--thin-tertiary: 1px solid $s-color--tertiary;