
/* Root Font */
$s-font--root-size: 16px;
$s-font--root-weight: 300;
$s-font--root-family: 'GT America', sans-serif;
$s-font--root-line: 1.5;
$s-font--root-letter: 0;

/* Heading Font */

$s-font--heading-6-size-xsmall: 0.875rem;
$s-font--heading-6-size-medium: 1rem;
$s-font--heading-6-size-large: 1.125rem;

/* Paragraph Font */
$s-font--paragraph-2-size-xsmall: 0.75rem;
$s-font--paragraph-2-size-medium: 0.875rem;