$s-gutter--fluid-xsmall: 1.25rem;
$s-gutter--fluid-medium: 6vw;
$s-gutter--fluid-large: 4vw;
$s-gutter--fluid-xlarge: 6vw;
$s-gutter--fluid-xxlarge: 10vw;
$s-gutter--fluid-ularge: 24vw;

$s-gutter--fixed-xsmall: 0.75rem;

