//Pixel size definitions
$s-screen--xsmall: 375px;  // Modern Phones
$s-screen--small:  750px;  // Modern Large Mobiles / Small Tablets
$s-screen--medium: 1100px; // Large Tablet / Small Old Laptop
$s-screen--large:  1350px; // Large Tablet Landscape / Average Laptop
$s-screen--xlarge: 1650px; // Large Laptop / Average - Large Desktop
$s-screen--xxlarge: 2000px; // 4K Deskop

//Size definitions
$s-screen--name-xsmall: 'xsmall';
$s-screen--name-small: 'small';
$s-screen--name-medium: 'medium';
$s-screen--name-large: 'large';
$s-screen--name-xlarge: 'xlarge';
$s-screen--name-xxlarge: 'xxlarge';

//Groups
$s-xsmall-up: 'xsmall-up';
$s-small-up: 'small-up';
$s-medium-up: 'medium-up';
$s-large-up: 'large-up';
$s-xlarge-up: 'xlarge-up';
$s-xxlarge-up: 'xxlarge-up';

//Breakpoints
$s-screen--breakpoints: (
  $s-screen--name-xsmall     '(max-width: #{$s-screen--small - 1})',
  $s-screen--name-small      '(min-width: #{$s-screen--small}) and (max-width: #{$s-screen--medium - 1})',
  $s-screen--name-medium     '(min-width: #{$s-screen--medium}) and (max-width: #{$s-screen--large - 1})',
  $s-screen--name-large      '(min-width: #{$s-screen--large}) and (max-width: #{$s-screen--xlarge - 1})',
  $s-screen--name-xlarge     '(min-width: #{$s-screen--xlarge})',

  $s-xsmall-up  '(min-width: #{$s-screen--xsmall})',
  $s-small-up   '(min-width: #{$s-screen--small})',
  $s-medium-up  '(min-width: #{$s-screen--medium})',
  $s-large-up   '(min-width: #{$s-screen--large})',
  $s-xlarge-up  '(min-width: #{$s-screen--xlarge})',
  $s-xxlarge-up '(min-width: #{$s-screen--xxlarge})'
);
