$s-screen--xsmall: 'xsmall';
$s-screen--small: 'small';
$s-screen--medium: 'medium';
$s-screen--large: 'large';
$s-screen--xlarge: 'xlarge';
$s-screen--xxlarge: 'xxlarge';

$s-screen--sizes: (
  $s-screen--xsmall:  375px,    // Modern Phones
  $s-screen--small:   750px,    // Modern Large Mobiles / Small Tablets
  $s-screen--medium:  1100px,   // Large Tablet / Small Old Laptop
  $s-screen--large:   1350px,   // Large Tablet Landscape / Average Laptop
  $s-screen--xlarge:  1650px,   // Large Laptop / Average - Large Desktop
  $s-screen--xxlarge: 2000px    // 4K Deskop, Ultrawides
);

/** Breakpoints for min-width (x and up) queries */
$s-screen--breakpoints-up: (
  $s-screen--xsmall:  '(min-width: #{map-get($s-screen--sizes, $s-screen--xsmall)})',
  $s-screen--small:   '(min-width: #{map-get($s-screen--sizes, $s-screen--small)})',
  $s-screen--medium:  '(min-width: #{map-get($s-screen--sizes, $s-screen--medium)})',
  $s-screen--large:   '(min-width: #{map-get($s-screen--sizes, $s-screen--large)})',
  $s-screen--xlarge:  '(min-width: #{map-get($s-screen--sizes, $s-screen--xlarge)})',
  $s-screen--xxlarge: '(min-width: #{map-get($s-screen--sizes, $s-screen--xxlarge)})'
);

/** Breakpoints for max-width (below x) queries */
$s-screen--breakpoints-down: (
  $s-screen--xsmall:  '(max-width: #{map-get($s-screen--sizes, $s-screen--xsmall)-1})',
  $s-screen--small:   '(max-width: #{map-get($s-screen--sizes, $s-screen--small)-1})',
  $s-screen--medium:  '(max-width: #{map-get($s-screen--sizes, $s-screen--medium)-1})',
  $s-screen--large:   '(max-width: #{map-get($s-screen--sizes, $s-screen--large)-1})',
  $s-screen--xlarge:  '(max-width: #{map-get($s-screen--sizes, $s-screen--xlarge)-1})',
  $s-screen--xxlarge: '(max-width: #{map-get($s-screen--sizes, $s-screen--xxlarge)-1})'
);

/** Breakpoints for min and max width (between x and y / only x) queries */
$s-screen--breakpoints-only: (
  $s-screen--xsmall:  '#{map-get($s-screen--breakpoints-up, $s-screen--xsmall)} and #{map-get($s-screen--breakpoints-down, $s-screen--small)}',
  $s-screen--small:   '#{map-get($s-screen--breakpoints-up, $s-screen--small)} and #{map-get($s-screen--breakpoints-down, $s-screen--medium)}',
  $s-screen--medium:  '#{map-get($s-screen--breakpoints-up, $s-screen--medium)} and #{map-get($s-screen--breakpoints-down, $s-screen--large)}',
  $s-screen--large:   '#{map-get($s-screen--breakpoints-up, $s-screen--large)} and #{map-get($s-screen--breakpoints-down, $s-screen--xlarge)}',
  $s-screen--xlarge:  '#{map-get($s-screen--breakpoints-up, $s-screen--xlarge)} and #{map-get($s-screen--breakpoints-down, $s-screen--xxlarge)}',
)