.c-campaign-banner {
  margin: 0 auto;
  position: relative;

  &__image,&__video {
    height: 100%;
    max-height: 75vh;
    min-height: 31.25rem;
    padding-bottom: 0;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: .5rem 0vw $s-gutter--fixed-xsmall; // !!!
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.is-center {
      text-align: center;
      align-items: center;
    }

    &.is-left {
      text-align: left;
      align-items: flex-start;
    }

    &.is-right {
      text-align: right;
      align-items: flex-end;
    }
  }

  &__media-wrapper {
    position: relative;
  }

  &__background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__description{
    max-width: 14.75rem;
  }

  @include t-media--up($s-screen--small) {
    &__content {     
      padding: 1.1825rem 0vw $s-gutter--fixed-xsmall;// !!!
    }

    &__image,&__video {
      height: 75vh;
      max-height: 37.5rem;
    }
  }

  @include t-media--up($s-screen--medium) {
    &__description{
      max-width: 20.625rem;
    }
  }

  @include t-media--up($s-screen--large) {
    &__image,&__video {
      max-height: 55rem;
    }
  }
}