.c-featured-collections {

  &__inner {
    @extend %t-gutter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  &__tile {
    width: 50%;
    width: calc(50% - 0.625rem);
    margin-top: 2.5rem;

    &.is-2 {
      width: 100%;
    }

    &-title {
      margin: 1.25rem 0 0.1875rem;
    }

    &-description {
      display: block;
      margin: 0.1875rem 0 1.25rem;
      color: $s-color--secondary;
    }
  }

  @include t-media--up($s-screen--small) {
    &__tile {
      width: 25%;
      width: calc(25% - 0.9375rem);
      margin-top: 6rem;

      &.is-3 {
        width: #{100%/3};
        width: calc(#{100%/3} - 0.5rem);
      }
      
      &.is-2 {
        width: 50%;
        width: calc(50% -  0.625rem);
      }


      &-image {
        padding-bottom: 100%;
      }
    }
  }
}