.c-featured-collections {
  @extend %t-gutter;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__tile {
    width: 50%;
    width: calc(50% - 0.625rem);
    margin-top: 2.5rem;

    &.is-2 {
      width: 100%;
    }

    &-title {
      margin: 1.25rem 0 0.1875rem;
    }

    &-description {
      display: block;
      margin: 0.1875rem 0 1.25rem;
      color: $s-color--secondary;
    }
  }

  @include t-media--up($s-screen--small) {
    &__tile {
      width: 25%;
      width: calc(25% - 0.9375rem);
      margin-top: 6rem;

      &.is-3 {
        width: #{100%/3};
        width: calc(#{100%/3} - 0.5rem);
      }
      
      &.is-2 {
        width: 50%;
        width: calc(50% -  0.625rem);
      }


      &-image {
        padding-bottom: 100%;
      }
    }
  }
}

// .c-featured-collections {
//   padding: 3rem calc(#{$s-gutter--edge-mobile} - 0.625rem) 2.5rem;

//   &__wrap {
//     position: relative;
//   }

//   &__inner {
//     max-width: 100rem;
//     margin: 0 auto;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: flex-start;
//     justify-content: center;
//     flex-direction: row;
//     .c-featured-collections.is-carousel & {
//       flex-wrap: nowrap;
//       justify-content: flex-start;
//     }
//   }

//   &__collection {
//     width: 50%;
//     padding: 0 0.625rem;
//     margin-bottom: 2.5rem;
//     &.is-cols-3 {
//       width: 50%;
//     }
//     &.is-cols-4 {
//       width: 100%;
//     }
//     &.is-cols-6 {
//       width: 100%;
//     }
//   }

//   &__collection__inner {
//     display: block;
//   }

//   &__image {
//     display: block;
//     position: relative;
//     width: 100%;
//     margin-bottom: 1.25rem;
//     padding-top: 100%;
//     overflow: hidden;
//     .is-cols-3 & {
//       padding-top: 100%;
//     }
//     .is-cols-4 & {
//       padding-top: percentage(158/336);
//     }
//     .is-cols-6 & {
//       padding-top: percentage(158/336);
//     }
//     .c-featured-collections.is-carousel & {
//       padding-top: 100%;
//     }
//   }

//   &__image__img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     object-position: center;
//     z-index: 1;
//   }
  
//   &__image__video {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     object-position: center;
//     z-index: 2;
//   }

//   &__title {
//     display: block;
//     margin-bottom: 0.1875rem;
//   }

//   &__description {
//     display: block;
//     margin-bottom: 1.25rem;
//   }

//   &__cta {
//     text-decoration: underline;
//     .c-featured-collections__collection:hover & {
//       text-decoration: none;
//     }
//   }

//   &__nav-btn-wrapper {
//     display: none;
//   }

//   &__nav-btn {
//     width: .5rem;
//   }

//   &__carousel-progress {
//     border-top: 1px solid $s-color--border;
//     position: relative;
//     width: calc(100% - 2.25rem);
//     margin: 0 auto;

//     span {
//       @include t-anim--transition(width, .5s, ease);
//       display: block;
//       border-top: 2px solid $s-color--border-dark;
//       position: absolute;
//       left: 0;
//       top: -2px;
//     }
//   }

//   @include t-media-query($s-medium-up) {
//     padding: 3rem calc(#{$s-gutter--edge-medium} - 0.625rem) 7.125rem;

//     &__collection {
//       width: 25%;
//       margin-bottom: 5.375rem;
//       &.is-cols-3 {
//         width: 25%;
//       }
//       &.is-cols-4 {
//         width: percentage(1/3);
//       }
//       &.is-cols-6 {
//         width: 50%;
//       }
//     }

//     &__image {
//       margin-bottom: 1.625rem;
//       .is-cols-3 & {
//         padding-top: 100%;
//       }
//       .is-cols-4 & {
//         padding-top: percentage(385/520);
//       }
//       .is-cols-6 & {
//         padding-top: percentage(385/790);
//       }
//       .c-featured-collections.is-carousel & {
//         padding-top: 100%;
//       }
//     }

//     &__title {
//       margin-bottom: 0.5rem;
//     }

//     &__description {
//       margin-bottom: 1.875rem;
//     }

//     &__nav-btn-wrapper {
//       @include t-absolute-center-x-y;
//       display: flex;
//       justify-content: space-between;
//       width: 100%;
//       padding: 0 4%;
//       z-index: 1;
//       max-width: 125rem;
//     }

//     &__nav-btn {
//       cursor: pointer;
//     }

//   }
// }