$c-main-menu--background: $s-color--background;

.c-main-menu {
  background: $c-main-menu--background;

  // Mobile
  @include t-media--down($s-screen--small) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: $s-z--menu;
    transform: translate3d(-100%, 0, 0);
    @include t-anim--transition(transform);
    overflow: hidden;

    &__close {
      width: 1.8125rem;
    }

    &__static {
      position: relative;
      padding: $s-gutter--fixed-xsmall*2 $s-gutter--fluid-xsmall;
      background: linear-gradient(to bottom,
        $c-main-menu--background, rgba($c-main-menu--background, 0)
      );
      z-index: 2;
    }

    &__dynamic {
      flex-grow: 1;
      overflow-y: auto;
    }

    .is-open & {
      transform: translateX(0);
    }

    &__menu {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(100%, 0, 0);
      padding: 6rem $s-gutter--fluid-xsmall $s-gutter--fixed-xsmall;
      overflow-x: hidden;
      overflow-y: auto;
      background: $c-main-menu--background;
      @include t-anim--transition(transform);
      list-style: none;
      margin: 0;

      &-header {
        padding-bottom: 2.5rem;
        border-bottom: $s-border--thin-tertiary;
      }

      &-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-bottom: $s-border--thin-tertiary;
        padding: 0.875rem 0;
        text-transform: uppercase;
        text-decoration: none;

        &.is-footer {
          justify-content: flex-start;
          padding: 0.8125rem 0;
          text-transform: initial;

          svg {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.75rem;
          }
        }

        svg {
          content: '';
          display: block;
          width: 0.75rem;
          height: 0.75rem;
        }
      }

      &.is-open,&.is-level-0 {
        transform: translate3d(0, 0, 0);
      }
    }

    &__back {
      text-transform: uppercase;
      position: relative;
      text-transform: uppercase;
      text-decoration: none;
      padding-left: 1.5rem;
      color: $s-color--secondary;

      svg {
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        display: block;
        width: 0.75rem;
        height: 0.75rem;
      }
    }

    &__search {
      display: flex;
      align-items: center;

      &-button {
        width: 1.5rem;
        flex-shrink: 0;
      }

      &-input {
        flex-grow: 1;
        margin-left: 0.75rem;
      }
    }
  }

  // Desktop
  @include t-media--up($s-screen--small) {
  }
}