/**
 *  Main menu is complex enough to be split.
 *    First is the shared styles.
 *    Then there is a media-down query for mobile displays.
 *    Finally there is a media-up query for laptop+ screens.
 *    At the end are some touch up styles for larger screens.
 */


$c-main-menu--background: $s-color--background;
$c-main-menu--hover-hitbox: 30%;

.c-main-menu {
  $self: &;
  width: 100%;

  &__block {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    &-item {
      width: 50%;
      width: calc(50% - #{(1.25rem/2)});
    }

    &-subtitle {
      display: block;
      color: $s-color--secondary;
    }

    &-title {
      margin-top: 0.75rem;
      display: block;
    }
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $c-main-menu--background;

    &-link {
      text-transform: uppercase;
      position: relative;
      margin: 0;
      &.is-level-2 { text-transform: initial; }
    }
  }

  // Mobile
  @include t-media--down($s-screen--small) {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: $s-z--menu;
    transform: translate3d(-100%, 0, 0);
    @include t-anim--transition(transform);
    overflow: hidden;
    background: $c-main-menu--background;

    &__close {
      width: 1.8125rem;
    }

    &__static {
      position: relative;
      padding: $s-gutter--fixed-xsmall*2 $s-gutter--fluid-xsmall;
      background: linear-gradient(to bottom,
        $c-main-menu--background, rgba($c-main-menu--background, 0)
      );
      z-index: 2;
    }

    &__dynamic {
      flex-grow: 1;
      overflow-y: auto;
    }

    .is-open & {
      transform: translateX(0);
    }

    &__menu {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(100%, 0, 0);
      padding: 6rem $s-gutter--fluid-xsmall $s-gutter--fixed-xsmall;
      overflow-x: hidden;
      overflow-y: auto;
      @include t-anim--transition(transform);

      &-header {
        padding-bottom: 2.5rem;
        border-bottom: $s-border--thin-tertiary;
      }

      &-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: $s-border--thin-tertiary;
        padding: 0.875rem 0;

        &.is-footer {
          justify-content: flex-start;
          padding: 0.8125rem 0;
          text-transform: initial;

          svg {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.75rem;
          }
        }

        svg {
          content: '';
          display: block;
          width: 0.75rem;
          height: 0.75rem;
        }
      }

      &.is-open,&.is-level-0 {
        transform: translate3d(0, 0, 0);
      }
    }

    &__back {
      text-transform: uppercase;
      position: relative;
      text-transform: uppercase;
      text-decoration: none;
      padding-left: 1.5rem;
      color: $s-color--secondary;

      svg {
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        display: block;
        width: 0.75rem;
        height: 0.75rem;
      }
    }

    &__search {
      display: flex;
      align-items: center;

      &-button {
        width: 1.5rem;
        flex-shrink: 0;
      }

      &-input {
        flex-grow: 1;
        margin-left: 0.75rem;
      }
    }
  }


  // Desktop
  @include t-media--up($s-screen--small) {
    &__static { display: none; }

    &,&__dynamic {
      display: flex;
    }

    &__menu {
      // Hide mobile-centric items
      &-spacer, &-extra, &-header, &-link svg { display: none; }

      // Show meganav on hover
      &-item:hover > &.is-level-1 { display: flex; }

      // Style Links
      &-link {
        display: block;
        width: 100%;

        &.is-level-0 {
          display: flex;
          align-items: center;
          text-transform: initial;
          height: 100%;
          padding: 0.25rem;
        }

        &.is-level-1 {
          margin-bottom: 2.125rem;
        }
      }

      // Extended hitbox (to make hovering easier)
      &-item:hover > &-link.is-level-0:after {
        content: '';
        display: block;
        width: 100% + $c-main-menu--hover-hitbox;
        height: 100% + $c-main-menu--hover-hitbox;
        border-radius: $c-main-menu--hover-hitbox/2;
        position: absolute;
        background: transparent;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      &-item.is-level-1 { width: 20%; }


      // Arrange non-meganav menu
      &.is-level-0 { 
        display: flex;
        justify-content: flex-start;
        position: static;
        background: transparent;
      }

      &.is-level-1 {
        display: none; 
        // display: flex; // Uncomment this to force-show the menu while testing
        position: absolute;
        width: 100%;
        left: 0;
        align-items: flex-start;
        z-index: $s-z--menu;
        padding: $s-gutter--fluid-medium $s-gutter--fluid-xsmall;
      }

      &.is-level-2 {
        display: block;
      }
    }

    &__block {
      margin-left: auto;
      width: 40%;
    }
  }

  // Larger screens
  @include t-media--up($s-screen--medium) {
    &__menu {
      &.is-level-0 { margin: 0 -1rem; }

      &-link {
        @extend %t-font--heading-6-medium;
        &.is-level-0 { padding: 1rem; }
      }

      &.is-level-1 { padding: $s-gutter--fluid-medium; }
      &.is-level-2 { @extend %t-font--paragraph-2-medium; }
    }
  }

  @include t-media--up($s-screen--xlarge) {
    &__menu-link {
      &.is-level-0,&.is-level-1 {
        @extend %t-font--heading-6-large;
      }
      &.is-level-2 {
        @extend %t-font--paragraph-2-large;
      }
    }

    &__block {
      &-title,&-subtitle {
        display: inline-block;
        margin-right: 0.625rem;
      }
    }
  }
}