.o-testimonial {
  border: $s-border--thin-secondary;
  padding: 1.3125rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  // Make these display correctly with JS-less
  // display: none;
  // &:first-of-type { display: block; }

  &__body {
    flex-grow: 1;
  }

  &__footer {
    display: flex;
    align-items: center;
    border-top: $s-border--thin-secondary;
    padding-top: 1.375rem;
    margin-top: 3.125rem;

    &-left {
      margin-right: 0.875rem;
      width: 3.75rem;
    }
  }

  &__stars  {
    display: flex;

    svg {
      width: 0.875rem;
      margin-right: 0.25rem;
    }
  }

  &__name {
    margin: 0;

    &-location {
      color: $s-color--secondary;
    }
  }

  @include t-media--up($s-screen--medium) {
    &__footer {
      margin-top: 6.625rem;
    }
  }
}