/*
 *  Base Font
 *    Font all other fonts inherit from.
 */
@mixin t-font--base {
  font-size: $s-font--base-size;
  font-weight: $s-font--base-weight;
  font-family: $s-font--base-stack;
  line-height: $s-font--base-line;
  letter-spacing: $s-font--base-letter;
}

@mixin t-font--base-desktop {
  font-size: $s-font--base-size-desktop;
  letter-spacing: $s-font--base-letter-desktop;
}