@import './responsive';

////////////////////////////////////////////////////////////////////////////////
// Base Fonts
////////////////////////////////////////////////////////////////////////////////
%t-font--root {
  font-size: 16px;
  font-weight: 300;
  font-family: 'GT America', sans-serif;
  line-height: 1.5;
  letter-spacing: 0;
}

// Heading Fonts
%t-font--heading-6-base {
  font-size: 0.875rem;
}

// Paragraph Fonts
%t-font--paragraph-2-base {
  font-size: 0.75rem;
}


////////////////////////////////////////////////////////////////////////////////
// Medium Fonts
////////////////////////////////////////////////////////////////////////////////
@include t-media--up($s-screen--medium) {
  %t-font--heading-6-medium { font-size: 1rem; }
  %t-font--paragraph-2-medium { font-size: 0.875rem; }
}


////////////////////////////////////////////////////////////////////////////////
// Large Fonts
////////////////////////////////////////////////////////////////////////////////
@include t-media--up($s-screen--large) {
  %t-font--heading-6-large {
    font-size: 1.125rem;
  }
}


////////////////////////////////////////////////////////////////////////////////
// Font Sets
////////////////////////////////////////////////////////////////////////////////

// Heading Font Sets
%t-font--heading-6 {
  @extend %t-font--heading-6-base;
  @extend %t-font--heading-6-medium;
  @extend %t-font--heading-6-large;
}

// Paragraph Font Sets
%t-font--paragraph-2 {
  @extend %t-font--paragraph-2-base;
  @extend %t-font--paragraph-2-medium;
}