.o-heading--6,.o-heading.is-size-6 {
  font-size: $s-font--heading-6-size-xsmall;
}

.o-paragraph--2,.o-paragraph.is-size-2 {
  font-size: $s-font--paragraph-2-size-xsmall;
}

@include t-media--up($s-screen--medium) {
  .o-heading--6,.o-heading.is-size-6 {
    font-size: $s-font--heading-6-size-medium;
  }
  
  .o-paragraph--2,.o-paragraph.is-size-2 {
    font-size: $s-font--paragraph-2-size-medium;;
  }
}

@include t-media--up($s-screen--large) {
  .o-heading--6,.o-heading.is-size-6 {
    font-size: $s-font--heading-6-size-large;
  }
}